/node_modules
/public/hot
/public/uploads
/public/storage
/storage/*.key
/tests
.env
.editorconfig
.gitattributes
package.json
package-lock.json
webpack.mix.js
yarn.lock
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
dcat_admin_ide_helper.php
