.custom-data-table {
    .unit,.executionprice {
        font-size: 12px;
        margin-left: 5px;
        color: #777;
    }
    .executionprice {

    }
}
table.custom-data-table.dataTable thead th, table.custom-data-table.dataTable tbody td {
    text-align:center
}
