html body {
    background-color: #f4f7f9;
    color: #414750;
    font-family: "PingFang SC", "Lantinghei SC", "Microsoft YaHei", "HanHei SC", "Helvetica Neue", "Open Sans", Arial, "Hiragino Sans GB", 寰蒋闆呴粦, STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
}
.body-bg, .content-wrapper {
    background: #f4f7f9;
}
.main-sidebar {
    transition: none;
}
.sidebar-separate .main-sidebar {
    top: 6rem;
    left: 2.5rem;
    text-align: center;
    background: url(../img/waves.png) no-repeat;
    background-color: #fff;
}
.main-menu .navbar-header .nav-item {
    text-align: left;
    height: 72px;
    line-height: 72px;
}
.main-menu .navbar-header .navbar-brand {
    margin: 0 !important;
}
.main-menu .navbar-header .navbar-brand img {
    display: inline-block;
    max-height: 35px;
    margin-top: -1px;
}
@media (min-width: 768px) {
    body:not(.sidebar-mini-md) .content-wrapper {
        margin-left: 260px;
    }
}

.sidebar-separate .header-navbar.fixed-top {
    left: 0px;
}

.sidebar-collapse .sidebar-separate .header-navbar.fixed-top {
    left: 0rem;
}

@media (min-width: 992px) {
    .sidebar-mini.sidebar-collapse .content-wrapper {
        margin-left: 5.6rem !important;
    }
}
body.dark-mode:not(.sidebar-separate) .main-sidebar .sidebar {
    margin-top:0 !important;
}
body.dark-mode [class*=sidebar-dark-] .nav-treeview.nav .nav-item .nav-link.active {
    padding: 0 0 0 55px !important;
}
.main-sidebar .nav-sidebar .nav-item>.nav-link {
    text-align: left;
}
[class*=sidebar-dark-] .nav.nav-pills .nav-item .nav-link.active {
    background: #242939 !important;
}
.main-sidebar.sidebar-primary .sidebar a {
    background: none !important;
    color: rgba(255, 255, 255, 0.5);
}

.main-sidebar.sidebar-primary .sidebar a p {

    color: rgba(255, 255, 255, 0.5);
}

.sidebar-primary .nav-sidebar>.nav-item.menu-open>.nav-link,
.sidebar-primary .nav-sidebar>.nav-item:hover>.nav-link,
.sidebar-primary .nav-sidebar>.nav-item:hover>.nav-link a p {
    /* background-color: none !important;*/
    font-weight: 700;
    color: #fff !important;
}

.sidebar-primary .leftbar-user-name {
    color: #fff;
}

.main-sidebar.sidebar-primary .nav-treeview>.nav-item>.nav-link.active,
.main-sidebar.sidebar-primary .nav-treeview>.nav-item>.nav-link.active p,
.main-sidebar.sidebar-primary .nav-treeview>.nav-item>.nav-link:hover,
.main-sidebar.sidebar-primary .nav.nav-pills .nav-item .nav-link.active,
.main-sidebar.sidebar-primary .nav.nav-pills .nav-item .nav-link.active p {
    color: #fff !important;
    border-bottom: 0px;
}

.main-sidebar.sidebar-primary .nav-pills .nav-link:not(.active):hover,
.main-sidebar.sidebar-primary .nav-pills .nav-link:not(.active):hover p,
.main-sidebar.sidebar-primary .nav-treeview>.nav-item>.nav-link,
.main-sidebar.sidebar-primary .navbar-header .logo-lg,
.main-sidebar.sidebar-primary .navbar-header .logo-mini,
.main-sidebar.sidebar-primary .sidebar a {
    color: #fff;
}

[class*=sidebar-light-] .nav-treeview>.nav-item>.nav-link.active,
[class*=sidebar-light-] .nav-treeview>.nav-item>.nav-link.active:hover {
    color: #fe2d54;
    background: none;
    box-shadow: 0px 0px
}

.sidebar-light-primary .nav-item>.nav-link.active {
    background: none;
    box-shadow: 0px 0px
}

.nav-item .nav-link {
    color: #7e8299;
}

.nav-item .nav-link p{
    font-size: 14px;
}
/* .nav-treeview .nav-item .nav-link {
    padding: 10px 10px 10px 25px !important;
} */
[class*=sidebar-light-] .nav-sidebar>.nav-item>.nav-link i {
    margin-right: 0.25rem;
}

[class*=sidebar-light-] .nav-treeview>.nav-item>.nav-link i {
    margin-right: 0.25rem !important;
}

.has-treeview a:nth-child(1) {
    padding-left: 0px !important;
    font-size: 12px;
}

.has-treeview a:nth-child(1) {
    color:#a1a5b7!important;
}

.has-treeview>.nav-link i:before {
    display: none;
}

.nav-treeview>.nav-item>.nav-link {
    color: #7e8299 !important;
}

.nav-treeview>.nav-item>.nav-link i {
    color: #acacba !important;
}

.nav-sidebar>.nav-item {
    margin-bottom: 10px;
}
.nav-sidebar>.nav-item>.nav-treeview {
    padding-left: 0px;
}

.has-treeview .nav-link p {
    font-size: 12px;
}

.navbar-true {
    float: right;
    right: 20px;
    top: 7px;
}
.navbar-true .feather{
    font-size: 24px;
    color: #b3b4ba;
}

/*.sidebar-mini.sidebar-collapse .main-sidebar:hover {*/
/*    width: 5.4rem !important;*/
/*}*/

.logo-lg {
    font-weight: 700;
    display: block;
    padding: 0px;
    text-align: center;
}

body.dark-mode .logo-lg {
    color: #a8a9bb !important;
}

.logo-lg img {
    vertical-align: middle;
}
[class*=sidebar-dark-] {
    background-image:none;
    background-color:#2a3042;
    color: #989eb3;
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link {
    color: #989eb3;
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active {
    color: #fff;
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link {
    color: #989eb3;
}
[class*=sidebar-dark-] .sidebar a {
    color: #989eb3;
}

[class*=sidebar-dark-] .navbar-header {
    height: auto;
    background: #2a3042;
}

.main-menu .navbar-header {
    padding: 0 1rem !important;
}

body.dark-mode .main-menu .navbar-header .logo-lg {
    font-weight: 700;
}

body.dark-mode [class*=sidebar-dark-] .navbar-header {
    background: unset;
}

.leftbar-user-name {
    font-weight: 700;
    color: #323a46;
    margin-top: 8px;
    display: block;
    font-size: .9rem;
    padding: 0px;
}

body.dark-mode .leftbar-user-name {
    color: #a8a9bb;
}
.grid__actions__ a {margin-left: 10px;}

.nav-sidebar .nav-treeview li {
    height: 44px;
    line-height: 44px;
}

/* 閫夋嫨鍥炬爣鐨勫尯鍩熷彉澶� */
.iconpicker-popover.popover {
    width:auto !important;
}






.horizontal-menu .navbar-horizontal {z-index: 999;}
.horizontal-navbar-brand .logo-lg img {max-height: 40px;}
.horizontal-menu .main-horizontal-sidebar {
    left: 300px;
    width: auto;
    top: 5px;
}
.horizontal-menu .left-navbar {display: none !important;}
.horizontal-menu .main-horizontal-sidebar>div {box-shadow:none}
.horizontal-menu #pjax-container {
    padding-top: 1.8rem !important;
}



.content-header .breadcrumb {
    display: none;
}
.tool-main {
    position: absolute;
    right: 14px;
    top: -45px;
}
.layui-layer-content .tool-main {
    position: inherit;
}
body.dark-mode .nav-tabs {background-color: #222233;}
body.dark-mode .nav.nav-tabs {border-bottom: 1px solid #2c2c43;}


[class*=sidebar-dark-] .nav-sidebar>.nav-item i {
    margin-right: .75rem;
    color: hsla(0,0%,100%,.5);
}
body.dark-mode .table tbody tr td {
    background-color: #222233;
}
body.dark-mode .table {
    background-color: transparent;
    padding: 0 1rem;
}


.horizontal-menu .nav-sidebar>.nav-item {
    padding-bottom: 0rem;
    margin-bottom: 0px;
}

/* 琛ㄥ崟input鏍峰紡 */
.form-control {
    background-color: #f5f8fa;
    border-color: #f5f8fa;
    color: #5e6278;
    transition: color .2s ease,background-color .2s ease;
    min-height: calc(1.5em + 1.65rem + 2px) !important;
    line-height: calc(1.5em + .5rem) !important;
    padding: .825rem 1.5rem;
    font-size: 1.15rem;
    border-radius: .475rem;
}
.input-group-text {
    min-height: calc(1.5em + 1.65rem + 1px) !important;
    background-color: #f5f8fa !important;
    border-color: #f5f8fa;
    padding: .825rem 1.5rem !important;
}
.input-group .input-group-btn .btn{height: 45px !important;}
.form-group .control-label {
    line-height: calc(1.5em + 1.65rem) !important;
    padding-top:5px
}
div.btn {
    line-height: 1.8 !important;
    height: 41px;
}

.select2-container--default .select2-selection--single {
    border: 0px !important;
    border-radius: 2px !important;
    background-color: #f5f8fa !important;
}

.select2-container .select2-selection--single {
    height: 42px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 42px!important;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
    height: 34px !important;
}
.vs-radio-con {margin-top: 9px !important;}
.table-filter label:after {
    top: 0.75rem !important;
}
.alert-info, .alert-primary {
    box-shadow: none !important;
}
