.has-many-order-form .input-group .form-control {
  width: 100px !important;
}

.fields-group .fill .xco {
  color: #EE8C0C;
}

.fields-group .fill .fsl {
  font-size: 20px;
}

.fields-group .col-md-12 .col-md-2 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.fields-group .col-md-12 .col-md-8 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.feather {
  margin-right: 0.75rem;
}

.card-header {
  padding: 2rem 2rem 1.5em !important;
}

.card-header .metric-content {
  width: 100%;
}

.card-header .metric-content h1 span {
  font-size: 14px;
  color: #999;
}

.card-header .metric-content h1 .badge-primary,
.card-header .metric-content h1 .badge-danger,
.card-header .metric-content h1 .badge-info,
.card-header .metric-content h1 .badge-primary,
.card-header .metric-content h1 .badge-warning,
.card-header .metric-content h1 .badge-success {
  color: #fff;
}

.card-header .tools {
  text-align: right;
}

.card-header .tools span {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-left: 20px;
  color: #5c6bc6;
}

.card-header .tools span .feather {
  margin: 0px;
}

#tab_receipts,
#tab_electronics,
#tab_orders,
#tab_files {
  padding: 20px;
}

#tab_receipts .upload_go,
#tab_electronics .upload_go,
#tab_orders .upload_go,
#tab_files .upload_go {
  text-align: center;
  position: absolute;
  right: 10px;
  top: 10px;
}

#tab_receipts .upload_go a,
#tab_electronics .upload_go a,
#tab_orders .upload_go a,
#tab_files .upload_go a {
  color: #fff;
}

.total .box-body {
  padding: 1rem 2rem 1.5em !important;
}

.total .box-body h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.total .box-body .time {
  display: block;
  margin-bottom: 15px;
}

.total .box-body .sale {
  display: block;
  margin-bottom: 35px;
}

.table-striped td {
  line-height: 3.42857;
}

#tab_files .file_list div {
  padding: 30px 5px 5px;
  width: 100%;
  height: 250px;
  text-align: center;
}

#tab_files .file_list img {
  width: 100px;
}

#tab_files .file_list p {
  margin-top: 20px;
}

#tab_events {
  padding: 20px;
}

#tab_events .events {
  line-height: 60px;
  color: #b5bdc9;
}

#tab_events .events .content {
  background-color: #f6f7f9;
  border-radius: 5px;
  color: #506888;
  padding: 20px;
  margin-left: -30px;
  line-height: 20px;
  margin-bottom: 50px;
}

#tab_events .events .content .btn {
  height: 88px;
  width: 100%;
  display: none;
}

#tab_events .events .content:hover .btn {
  display: block;
}

#tab_events .events .content:hover textarea {
  max-height: 87px;
}

#tab_events .events .content textarea {
  max-height: 45px;
}

#tab_events .events .time_md {
  border-left: 1px solid #99b8ff;
}

#tab_events .events .time_md i {
  color: #99b8ff;
  margin-left: -20px;
  font-size: 12px;
}

#tab_events .events .time_md span {
  display: inline-block;
  position: absolute;
}

#tab_events .events .time_md .time_hi {
  top: 20px;
}

#tab_events .events .form-control {
  width: 98%;
}

#tab_events .events .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#tab_events .events .users {
  margin-left: 15px;
}

#tab_events .contentlist .content .tools {
  display: none;
  position: absolute;
  right: 0;
}

#tab_events .contentlist .content .tools .btn {
  background-color: unset;
  border: 0px;
  width: auto;
  height: auto;
  color: #bcbdc9;
  box-shadow: 0px 0px;
}

#tab_events .contentlist .content .tools a {
  color: #bcbdc9;
}

#tab_events .contentlist .content:hover .tools {
  display: block;
}

body.dark-mode #tab_events .content {
  background-color: #2c2c43;
}

body.dark-mode #tab_events .content textarea {
  background: #223;
}

.contacts_card .box-header .pull-left h3 {
  display: inline;
  margin-right: 1rem;
}

.contacts_card .box-header .pull-right {
  display: none;
}

.contacts_card:hover .box-header .pull-right {
  display: block;
}

.customer_content .fa {
  margin-right: 0.75rem;
}

.customer_content .col-md-3 .box-body .row .col-md-12 {
  margin: 10px 10px;
}

