.custom-data-table .unit,
.custom-data-table .executionprice {
  font-size: 12px;
  margin-left: 5px;
  color: #777;
}

table.custom-data-table.dataTable thead th,
table.custom-data-table.dataTable tbody td {
  text-align: center;
}

